$Lineargradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%); //(active input border)
$Lineargradient1thcolor:hsl(249, 99%, 64%);
$Lineargradient2ndcolor:hsl(278, 94%, 30%);
$Red : hsl(0, 100%, 66%); // (input errors)
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);